.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #a3c09f;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px green;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #f40612;
}

.nav-button {
  width: 150px; 
  text-align: center;
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #388e3c;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.animal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
}

.animal-form input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.funcionario-form input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.button-box {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1.5rem;
  justify-content: center; 
}

.add-button {
  margin-bottom: '1rem';
  width: 150px; 
  text-align: center;
  padding: 1rem;
  background-color: #4c6faf;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.navigation-box {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  margin: 2rem auto;
  text-align: center;
}

.navigation-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.top-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem;
}